*{
    margin: 0;
    padding: 0;
}

body{
  
  background: linear-gradient(150deg, #01637f,#323232, #666666);
}


.form-signin{
    background: white;
    padding: 30px;
    border-radius: 50px;
}

.text-center{
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 500px;
    background: linear-gradient(150deg, #01637f,#323232, #666666);
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    body{
        padding: 10px;
        
    }

    .nav-item{
      color: black !important;
    
    }   
  }

.menu-lateral{ 
  min-width: 250px; 
  max-width: 250px; 
  min-height: calc(100vh - 55px); 
  background: black;
  transition: all 0.3s;
 
  }

  .menu-lateral ul li a{  
    display: block;
    color: blanchedalmond;
    padding: 15px;
    text-decoration: none;
    transition: all 1.5s;
  }

  .menu-lateral ul li a:hover{
      color: #ecedee;
      background: #354358;
      padding: 20px;
      font-size: 16px;
     }

     .titulo h3{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 48px;      
      margin-left: 100%;
      
    }

     @media (max-width: 768px) {
    
      .menu-lateral{
        margin-left: -250px;
      }
      .titulo h3{       
        font-size: 24px;      
        margin-left: 100%;      
        
      }
      .menu_perfil{
        visibility: collapse;
      }
    
    
    }
    .menu-lateral-remove{
      margin-left: -250px;
    }

    .content{
      width: 100%;
    }

    .pagina-selecionada{
      color: #ecedee;
      background: red;
      padding: 20px;
      font-size: 16px;
     }

     .formulario-lancar{
      display: block;
      margin: 0 auto;
      margin-top: 5%;
      width: 768px;
     }

     .container{

      position: relative;
      width: 400px;
      min-height: 400px;
      background: linear-gradient(150deg, #01637f,#323232, #666666);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

     }

      #dycalendar{

        width: 100%;
        padding: 20px;
      }

      #dycalendar table{ 
        width: 100%;
        margin-top: 40px;
      }

      #dycalendar table td{ 
       color: white;
       padding: 10px;
      }

      #dycalendar table tr:nth-chuld(1)td{ 
        color: white;
        padding: 10px;
       }

